#beep {
  display: none;
}

#result {
  font-size: 80px;
  text-shadow: 10px, 10px, #ff0000;
}

.jumbotron {
  text-align: center;
  color: red;
  background-color: black;
}

body {
  background-color: grey;
}
