

#result {
  font-size: 80px;
}

.jumbotron {
  text-align: center;
  color: red;
  background-color: black;
}

body {
  background-image: url(https://pbs.twimg.com/profile_images/583001665772642304/gzgfO33F_400x400.jpg);
  color: white;
  font-size: 50px;
